trigger:
- master

variables:
- group: AWS Serverless

pool:
  vmImage: 'ubuntu-latest'

strategy:
  matrix:
    node_12_x:
      node_version: 12.x

steps:
- task: NodeTool@0
  inputs:
    versionSpec: $(node_version)
  displayName: 'Install Node.js'

- script: yarn
  displayName: 'Install dependencies'

- script: npx jest
  displayName: 'Run test-cases'

- script: npx serverless config credentials --provider aws --key $(SERVERLESS_ACCESS_KEY_ID) --secret $(SERVERLESS_SECRET_ACCESS_KEY)
  displayName: 'Config credentials'

- script: npx serverless deploy --stage production -v
  displayName: 'Deploy to aws'
