# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: surge-lst-serverless
plugins:
  - serverless-offline
# app and org for use with dashboard.serverless.com
# app: surge-lst
# org: lujiajing1126

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: aws
  runtime: nodejs16.x
  region: ap-east-1
#  stage: dev
#  region: us-east-1

# you can add statements to the Lambda function's IAM Role here
#  iamRoleStatements:
#    - Effect: "Allow"
#      Action:
#        - "s3:ListBucket"
#      Resource: { "Fn::Join" : ["", ["arn:aws:s3:::", { "Ref" : "ServerlessDeploymentBucket" } ] ]  }
#    - Effect: "Allow"
#      Action:
#        - "s3:PutObject"
#      Resource:
#        Fn::Join:
#          - ""
#          - - "arn:aws:s3:::"
#            - "Ref" : "ServerlessDeploymentBucket"
#            - "/*"

# you can define service wide environment variables here
#  environment:
#    variable1: value1

# you can add packaging information here
package:
 include:
   - src/bridge.js
   - dist/**

functions:
  boslife:
    handler: src/bridge.boslife
    events:
      - http:
          path: boslife
          method: get
  maying:
    handler: src/bridge.maying
    events:
      - http:
          path: maying
          method: get
  flower:
    handler: src/bridge.flower
    events:
      - http:
          path: flower
          method: get
  nex:
    handler: src/bridge.nexitally
    events:
      - http:
          path: nex
          method: get
  aaex:
    handler: src/bridge.aaex
    events:
      - http:
          path: aaex
          method: get
  lanmei:
    handler: src/bridge.lanmei
    events:
      - http:
          path: lanmei
          method: get
  immtel:
    handler: src/bridge.immtel
    events:
      - http:
          path: immtel
          method: get
  ytoo-ss:
    handler: src/bridge.ytoo_ss
    events:
      - http:
          path: ytoo/ss
          method: get
  blinkload:
    handler: src/bridge.blinkload
    events:
      - http:
          path: blinkload
          method: get
  tag:
    handler: src/bridge.tag
    events:
      - http:
          path: tag
          method: get
